numpy==1.26.4
pandas==2.1.1
lightning==2.4.0
lightning-utilities==0.14.3
pytorch-lightning==2.4.0
PyYAML==6.0.2
tqdm==4.67.1
scikit-learn==1.7.2
scipy==1.15.3
joblib==1.5.0
threadpoolctl==3.6.0
torchmetrics==1.7.1